certifi==2022.12.7
charset-normalizer==2.0.12
ffmpeg-python==0.2.0
future==0.18.2
idna==3.3
oauthlib==3.2.1
praw==7.6.0
prawcore==2.3.0
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
tweepy==4.9.0
update-checker==0.18.0
urllib3==1.26.9
websocket-client==1.3.2
